---
import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from '../../languages';
import { SITE } from '../../consts';
import UltramarineLogo from './UltramarineLogo.astro';
import SkipToContent from './SkipToContent.astro';
import SidebarToggle from './SidebarToggle';
import LanguageSelect from './LanguageSelect';

import { Icon } from 'astro-icon'

type Props = {
	currentPage: string;
};

const { currentPage } = Astro.props;
const lang = getLanguageFromURL(currentPage);
---

<header>
	<SkipToContent />
	<nav class="nav-wrapper">
		<div class="logo flex">
			<a href="/">
				<UltramarineLogo size={40} />
				<h1>{SITE.title ?? 'Documentation'}</h1>
			</a>
		</div>
		<div style="flex-grow: 1;"></div>
		<div class="left-header-wrapper">
			<div class="icons-wrapper">
				<a href="https://discord.gg/bUuQasHdrF" target="_blank" rel="noopener noreferrer" class="link-icon">
					<Icon name="bi:discord" />
				</a>
				<a href="https://twitter.com/@UltramarineProj" target="_blank" rel="noopener noreferrer" class="link-icon">
					<Icon name="bi:twitter" />
				</a>
				<a href="https://github.com/Ultramarine-Linux/ultramarine" target="_blank" rel="noopener noreferrer" class="link-icon">
					<Icon name="bi:github" />
				</a>
			</div>
			{KNOWN_LANGUAGE_CODES.length > 1 && <LanguageSelect lang={lang} client:idle />}
			<div class="menu-toggle">
				<SidebarToggle client:idle />
			</div>
		</div>
	</nav>
</header>

<style>
	header {
		z-index: 11;
		height: var(--theme-navbar-height);
		width: 100%;
		background-color: var(--theme-navbar-bg);
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		position: sticky;
		top: 0;
	}

	a.link-icon {
		color: var(--theme-text);
		transition: color 100ms ease-in-out;
	}

	a.link-icon:hover {
		color: var(--theme-text-accent);
	}

	.link-icon {
		width: 1.5rem;
		height: 1.5rem;
	}

	.logo {
		flex: 1;
		display: flex;
		overflow: hidden;
		width: 30px;
		font-size: 2rem;
		flex-shrink: 0;
		font-weight: 600;
		line-height: 1;
		color: hsla(var(--color-base-white), 100%, 1);
		gap: 0.25em;
		z-index: -1;
		padding-left: 0.3em;
	}

	.logo a {
		display: flex;
		padding: 0.5em 0.25em;
		margin: -0.5em -0.25em;
		text-decoration: none;
		font-weight: bold;
	}

	.logo a {
		transition: color 100ms ease-out;
		color: var(--theme-text);
	}

	.logo a:hover,
	.logo a:focus {
		color: var(--theme-text-accent);
	}

	.logo h1 {
		display: none;
		font: inherit;
		color: inherit;
		margin: 0;
		font-size: 1.5rem;
	}

	.left-header-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row;
	}

	.icons-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1em;
		flex-direction: row;
		margin-right: 1em;
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1em;
		width: 100%;
		max-width: 82em;
	}

	@media (min-width: 50em) {
		header {
			position: static;
			padding: 2rem 0rem;
		}

		.logo {
			width: auto;
			margin: 0;
			z-index: 0;
			padding-left: 0;
		}

		.logo h1 {
			display: initial;
		}

		.menu-toggle {
			display: none;
		}
	}
</style>

<style is:global>
	button#menu-toggle {
		border-radius: 4px;
		background-color: var(--theme-navbar-bg);
	}

	button#menu-toggle:focus {
		border-radius: 8px;
		background-color: var(--theme-divider);
	}
</style>