---
import ThemeToggleButton from "../RightSidebar/ThemeToggleButton";
---

<footer>
  <p>Copyright © 2021 - 2023 Ultramarine Linux Team</p>
  <ThemeToggleButton client:visible />
</footer>

<style>
  footer {
    margin-top: auto;
    padding: 0.8rem;
    border-top: 2px solid var(--theme-divider);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
</style>
